@import url(http://fonts.googleapis.com/css?family=Poiret+One|Lily+Script+One|Lobster|Great+Vibes|Pacifico|Dancing+Script:400,700|Lobster+Two:400,700|Satisfy|Rochester|Sacramento|family=Great+Vibes|Pinyon+Script);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
/* line 5, ../sass/main.sass */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem !important;
}

/* line 8, ../sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

/* line 11, ../sass/main.sass */
.inline-list {
  margin: 0 auto 0 auto !important;
}
/* line 13, ../sass/main.sass */
.inline-list a {
  color: grey;
  font-size: 1rem !important;
  font-weight: 200;
}
/* line 17, ../sass/main.sass */
.inline-list a:hover {
  color: #3e51a3;
  border-bottom: dotted 2px #fad956;
}

/* line 22, ../sass/main.sass */
.hero-into-text h1 {
  font-size: 5rem;
  color: #ffffff !important;
  margin-top: 13rem;
  font-family: "Great Vibes", cursive;
}
/* line 27, ../sass/main.sass */
.hero-into-text p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 200;
}
/* line 31, ../sass/main.sass */
.hero-into-text img {
  margin: 2rem 0;
}

/* line 35, ../sass/main.sass */
.timer-circle {
  display: block;
  height: 7em;
  width: 7em;
  color: #9B9B9B;
  background: #ffffff;
  border-radius: 4px;
}
/* line 42, ../sass/main.sass */
.timer-circle span {
  display: block;
  text-align: center;
}
/* line 45, ../sass/main.sass */
.timer-circle span:first-child {
  padding-top: 0.3em;
  font-size: 2.5rem;
}

/* line 49, ../sass/main.sass */
.count-down-container {
  background: #3e51a3;
  padding: 2rem;
  margin-bottom: 2rem;
}
/* line 53, ../sass/main.sass */
.count-down-container h2 {
  color: #fff;
  margin-top: 1.8rem;
  text-transform: capitalize;
}

/* line 58, ../sass/main.sass */
.until-id-txt {
  font-family: "Great Vibes", cursive;
  font-size: 1.8rem;
  color: #fff !important;
}

/* line 64, ../sass/main.sass */
#site-header {
  background: #ffffff !important;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 2px #cbcbcb;
}
/* line 73, ../sass/main.sass */
#site-header h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  color: #3e51a3;
  padding: 0;
  margin: 0;
}
/* line 79, ../sass/main.sass */
#site-header p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  color: #818181;
  margin-top: 0.7rem;
}

/* line 87, ../sass/main.sass */
#top-hero {
  background-image: url("../img/hero-img.jpg");
  width: 100%;
  padding: 3rem;
  min-height: 400px;
  background-size: cover;
}

/* line 94, ../sass/main.sass */
.details-container {
  background: url("https://download.unsplash.com/43/unsplash_522b9cc0386f1_1.jpg");
  margin-bottom: 3rem;
  background-size: cover;
}

/* line 99, ../sass/main.sass */
.mt2 {
  margin-top: 2rem;
}

/* line 102, ../sass/main.sass */
.details-ceremony-reception {
  background: #ffffff;
  margin-bottom: 3rem;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  border: solid #fad956 10px;
  min-height: 36rem;
}
/* line 109, ../sass/main.sass */
.details-ceremony-reception h4 {
  color: #3e51a3;
  margin-top: 0.7rem;
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
}

/* line 115, ../sass/main.sass */
.no-p {
  padding: 0 !important;
}

/* line 118, ../sass/main.sass */
.details-content {
  height: 300px;
  padding: 1rem;
}

/* line 138, ../sass/main.sass */
.hero-bg {
  background-image: url("../img/hero-img.png");
  min-height: 570px;
  padding-top: 5rem;
  background-size: cover;
}

/* line 145, ../sass/main.sass */
.header-container #nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #3D51A3;
  min-height: 70px;
  background: #fff;
  border-top: 1px solid #3D51A3;
}

/* line 154, ../sass/main.sass */
.main-menu {
  margin-top: 1.3rem;
}
/* line 156, ../sass/main.sass */
.main-menu i {
  color: royalblue;
}
/* line 159, ../sass/main.sass */
.main-menu a span {
  font-size: 0.9rem;
  color: grey !important;
}

/* line 164, ../sass/main.sass */
.logo-container img {
  margin: -3.3rem 0 2rem 0;
  position: absolute;
}

/* line 168, ../sass/main.sass */
.you-are-invited {
  padding-top: 13rem;
}
/* line 170, ../sass/main.sass */
.you-are-invited h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}
/* line 174, ../sass/main.sass */
.you-are-invited p {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3rem;
}

/* line 180, ../sass/main.sass */
.rsvp-cta p {
  padding: 1.4rem 0 0 0;
  border-bottom: dotted 2px #f1f0f0;
  color: #5c5c5c;
}

/* line 185, ../sass/main.sass */
.rsvp-btn {
  background: #3e51a3;
}

/* line 188, ../sass/main.sass */
.name {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
  color: #3e51a3;
}

/* line 194, ../sass/main.sass */
.about {
  padding: 0 1.5rem;
  font-weight: 300;
  color: #757575;
  text-align: left;
}
/* line 199, ../sass/main.sass */
.about p {
  font-size: 1.2rem;
}

/* line 203, ../sass/main.sass */
#nav li {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  font-weight: 600;
}
/* line 207, ../sass/main.sass */
#nav li a {
  color: #000000;
}

/* line 211, ../sass/main.sass */
.main-heading h5 {
  border-bottom: dotted 1px #f1f0f0;
  font-weight: bold;
  border-top: dotted 1px #f1f0f0;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
}
/* line 219, ../sass/main.sass */
.main-heading p {
  font-weight: bold;
}

/* line 223, ../sass/main.sass */
.our-bridal-party {
  margin-bottom: 3rem;
}
/* line 225, ../sass/main.sass */
.our-bridal-party h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Great Vibes", cursive;
}
/* line 229, ../sass/main.sass */
.our-bridal-party h6 {
  color: #3e51a3;
  font-weight: 500;
}
/* line 232, ../sass/main.sass */
.our-bridal-party h5 {
  font-size: 0.8rem;
  font-weight: bold;
}
/* line 235, ../sass/main.sass */
.our-bridal-party p {
  font-weight: 300;
  color: #757575;
  font-size: 1.2rem;
}

/* line 240, ../sass/main.sass */
.the-couple {
  margin-top: 2.5rem;
}
/* line 242, ../sass/main.sass */
.the-couple h4 {
  font-family: "Great Vibes", cursive;
  padding: 1rem;
  font-size: 2rem;
  border-top: dotted 2px #ECECEC;
  border-bottom: dotted 2px #ECECEC;
}
/* line 249, ../sass/main.sass */
.the-couple i {
  color: #fad956 !important;
  font-size: 0.8rem;
  vertical-align: middle;
}
/* line 253, ../sass/main.sass */
.the-couple img {
  margin-top: 1.5rem;
  border-radius: 50%;
  border: solid 10px #ECECEC;
}

/* line 258, ../sass/main.sass */
.footer {
  background: black;
  padding: 1.3rem 0 0 0;
}
/* line 261, ../sass/main.sass */
.footer p {
  font-size: 0.8rem;
  color: #9B9B9B;
}
/* line 264, ../sass/main.sass */
.footer i {
  font-size: 0.3rem;
}

/* line 267, ../sass/main.sass */
.boldy {
  font-weight: bold;
}

/* line 270, ../sass/main.sass */
.our-story-img {
  margin: 0 0 2.5rem 0;
}

/* line 273, ../sass/main.sass */
.white-txt {
  color: #ffffff !important;
}

/* line 276, ../sass/main.sass */
.no-border {
  border: none !important;
}

/* line 279, ../sass/main.sass */
.disqus_fix {
  padding: 0 1.5rem;
}

/* line 283, ../sass/main.sass */
.row.full-width {
  max-width: 100%;
  width: 100%;
}

/* line 289, ../sass/main.sass */
#rsvp {
  background: #3e51a3;
  padding: 2rem;
  margin-bottom: 5rem;
}
/* line 293, ../sass/main.sass */
#rsvp label {
  font-weight: 300;
  color: #ffffff;
}
/* line 296, ../sass/main.sass */
#rsvp h6 {
  color: #ffffff;
  font-size: 1.4rem;
}
/* line 299, ../sass/main.sass */
#rsvp p {
  color: #FFFFFF;
}

/* line 303, ../sass/main.sass */
.form-fields {
  border-radius: 3px !important;
  padding: 1rem !important;
  margin-top: 0.5rem !important;
  min-height: 4rem;
}

/* line 310, ../sass/main.sass */
.dancing-shoes-heading {
  border-top: dotted 2px #7889d2;
}
/* line 312, ../sass/main.sass */
.dancing-shoes-heading h2 {
  font-family: "Great Vibes", cursive;
  color: #ffffff;
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* line 318, ../sass/main.sass */
.mb2 {
  margin-bottom: 2rem;
}

/* line 321, ../sass/main.sass */
#map-canvas {
  width: 100%;
  height: 400px;
}
/* line 324, ../sass/main.sass */
#map-canvas img {
  max-width: none;
}

/* line 329, ../sass/main.sass */
#modalTitle {
  font-family: "Great Vibes", cursive;
  color: #3e51a3;
  font-size: 3rem;
  text-align: center;
}

/* line 335, ../sass/main.sass */
.reveal-modal {
  max-width: 32.5rem;
}

/* line 338, ../sass/main.sass */
.lead {
  text-align: center;
}

/* line 342, ../sass/main.sass */
.boldy {
  font-weight: bold;
}

/* line 345, ../sass/main.sass */
.highlight_field {
  border: 1px solid #E015D0;
  background: #E4CEE6;
}

/* line 350, ../sass/main.sass */
#rsvp-response-msg.error {
  color: #F0A8EA;
}

/* line 353, ../sass/main.sass */
.f-dropdown {
  width: 300px !important;
}

@media only screen and (max-width: 40em) {
  /* line 361, ../sass/main.sass */
  .logo-container img {
    margin: -3.3rem 0 2rem 0;
    position: absolute;
    width: 25%;
    right: 9rem;
    top: -1rem;
  }

  /* line 369, ../sass/main.sass */
  .header-container #nav {
    width: 10%;
    border-right: solid 1px #3e51a3;
    margin-right: 2rem;
  }

  /* line 374, ../sass/main.sass */
  .you-are-invited {
    padding-top: 5rem;
  }
  /* line 376, ../sass/main.sass */
  .you-are-invited h1 {
    font-size: 2rem;
  }
  /* line 378, ../sass/main.sass */
  .you-are-invited p {
    font-size: 0.9rem;
  }

  /* line 381, ../sass/main.sass */
  .hero-bg {
    min-height: 270px;
    padding-top: 5rem;
  }

  /* line 386, ../sass/main.sass */
  .hero-into-text h1 {
    font-size: 2.5rem;
  }
  /* line 388, ../sass/main.sass */
  .hero-into-text p {
    font-size: 0.9rem;
  }
}
/* line 391, ../sass/main.sass */
.the-venue-txt {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.35em !important;
  color: #757575;
  font-weight: normal !important;
}

/* line 397, ../sass/main.sass */
.input-required {
  border: 1px solid #E4949A !important;
  background-color: #F2E3E4 !important;
}

/* line 401, ../sass/main.sass */
#message-area {
  padding: 1em;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999999;
}
/* line 408, ../sass/main.sass */
#message-area.success {
  background: #96cb55;
  color: #ffffff;
}
/* line 411, ../sass/main.sass */
#message-area.error {
  background: #a5000c;
  color: #f2f2f2;
}
/* line 414, ../sass/main.sass */
#message-area .message-area--text {
  font-size: 1.5em;
  text-align: center;
}
/* line 417, ../sass/main.sass */
#message-area .message-area--dismiss-action {
  cursor: pointer;
}
